<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.my.AskFileMapper">

<insert id="insert">
		insert into askfile(fcode,acode,fname)
		select askfile_seq.nextval, af.* from(
		<foreach collection="filenamelist" item="filename" index="index" separator="UNION ALL" open="" close="">
			select #{acode}, #{filename} from dual
		</foreach>
		)af
</insert>

<select id="selectList" resultType="AskFile">
	select * from askfile
	where acode = #{acode}
</select>

<delete id="delete">
	delete askfile 
	where acode = #{acode} 
</delete>

</mapper>